@import './variables';

body {
    background-image: url(../images/backgrounds/BackgroundStart.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: $basicWhite;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;

    @media (max-width: 1840px) {
        font-size: 2vw
    }
}

@mixin button($fontSize, $mainColor, $backgroundColor) {
    background-color: transparent;
    color: $basicWhite;
    font-size: $fontSize;
    font-weight: bold;
    text-shadow: 0 0 3px $blackOpacityDark, 0 0 5px $blackOpacityDark;
    margin: 0 0 10px 0;
    padding: 15px;
    border: 3px solid $basicWhite;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.1s ease-in-out;

    &:hover {
        background-color: $backgroundColor;
        color: $basicWhiteHover;
        border: 3px solid $mainColor;
    }

    &:active {
        box-shadow: 0 0px 15px $mainColor;
    }
}

header {
    font-size: 3rem;
    margin: 0;
    padding: 15px;
    border-radius: 50px;
    text-shadow: 0 0 3px $blackOpacityDark, 0 0 5px $blackOpacityDark;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

    @media (max-width: 1100px) {

        padding: 1.5vw;
        border-radius: 5vw;
    }

    h5 {
        margin: 0 0 -12px 0;
        padding: 0;

        @media (max-width: 920px) {
            font-size: 5vw;
            margin-bottom: -1vw;
        }

        a {
            color: $orange;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $orangeOpacityLight;
            }
        }
    }

    h1 {
        text-align: center;
        margin: 0;
        padding: 0;
        cursor: default;

        @media (max-width: 920px) {
            font-size: 10vw;
            margin-bottom: 10px;
        }
    }

    button {
        @include button(60px, $orange, $orangeOpacityDark);
    }
}

.picker {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-bottom: 10px;
        width: 450px;
        border: 4px solid $basicWhite;
        border-radius: 15px;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;

        @media (max-width: 500px) {
            width: 90vw;
        }
    }

    @mixin buttonResponsive() {
        @media (max-width: 755px) {
            font-size: 5.5vw;
            padding: 1.5vw;
        }
    }

    button {
        @include button(50px, $blue, $blueOpacityDark);
        @include buttonResponsive();

        &:last-child {
            @include button(30px, $blue, $blueOpacityDark);
            @include buttonResponsive();
        }
    }
}

footer {
    width: max-content;
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

    @media (max-width: 710px) {
        transform: translate(-50%, -10%);
    }

    a {
        background-color: $blackOpacityLight;
        color: $basicWhite;
        font-size: 20px;
        margin: 0 5px;
        padding: 5px;
        border: 2px solid $basicWhite;
        border-radius: 5px;
        text-decoration: none;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.1s ease-in-out;

        @media (max-width: 710px) {
            display: block;
            margin: 5px auto;
        }

        &:hover {
            background-color: $blackOpacityDark;
            color: $basicWhiteHover;
            border-color: $basicWhiteHover;
        }

        &:active {
            box-shadow: 0 0px 10px $basicWhiteHover;
        }
    }
}